.error-msg {
    padding-left: 10px;
    color: #F56C6C;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.fixd-header .am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content {
    padding: 45px 5px;
}

#chat-page {
    margin-bottom: 45px;
}
#chat-page .chat-me .am-list-extra {
    flex-basis: auto;
}
#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}
#chat-page .am-grid-icon{
    display: none;
}

#chat-page .am-grid-text {
    margin-top: 0;
}
.stick-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
}