.error-msg {
    padding-left: 10px;
    color: #F56C6C;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content {
    padding: 45px 5px;
}